section{
    flex: 1;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.form-container {
    max-width: 600px;
    height: 650px;
    background-color: var(--white-flor);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    padding: 15px;
    border-radius: 20px;
    flex: 1;
    right: 20%;
}

h1 {
    font-size: 28px;
    color: var(--coral);
    margin-bottom: 20px;
    text-align: left;
}
.form-type{
    display: flex;
    gap: 50px;
    font-size: 16px ;
    margin-bottom: 15px;
    justify-content: center ;
}

/*INPUT RADIO*/
.custom-radio {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
}

/* Esconde o input radio original */
.custom-radio input {
        display: none;
}
    
/*Estilo do quadrado*/
.custom-radio span:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid var(--coral);  
    border-radius: 50%;  
    margin-right: 8px;
    background-color: var(--white-flor);
    transition: background-color 0.3s ease;
}
    
/* Cor do botão de rádio ao ser selecionado */
.custom-radio input:checked + span:before {
    background-color: var(--coral); 
    border-color: var(--coral); 
}
.form-group {
    margin-bottom: 20px;
}
.form-group input, textarea {
    width: 100%;
    height: 100%;
    background: transparent;
    padding: 10px;
    border: 0.5px solid var(--white-flor);
    outline: none;
    border-radius: 10px;
    font-size: 16px;
    color: var(--white-flor);
    padding: 20px 45px 20px 20px;
}
.form-group label {
    display: block;
    font-size: 16px;
    color: #555;
    margin-bottom: 8px;
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="number"],
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group textarea {
    height: 100px;
    resize: vertical;
}

.checkbox-group {
    display: flex;
    align-items: center;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
}

.btn-save {
    background-color: var(--coral);
    color: var(--black-passas);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn-save:hover {
    background-color: var(--prata);
    color: var(--black-passas);
}
